<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Required meta tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="mockup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Itim"
    />
    <script
      src="https://kit.fontawesome.com/566570e35f.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <section class="weatherCard__container">
        <div id="weatherCard__icon">
          <img src="https://openweathermap.org/img/wn/10d@4x.png" alt="" />
          <div id="weatherCard__description">
            <div>Clouds</div>
            <div id="weatherCard__subDescription">few clouds</div>
          </div>
        </div>
        <div id="weatherCard__city">Amsterdam, NL</div>

        <section class="weatherCard__info__container">
          <section id="weatherCard__temp__container" class="minicard">
            <header><i class="fas fa-thermometer-half"></i> Temperature</header>

            <div class="hero">
              <div id="weatherCard__temp" class="mainInfo">
                <div>20°C</div>
              </div>
            </div>

            <div class="hero secondary">
              <div id="weatherCard__tempMin" class="weatherCard__left">
                <div>Min</div>
                <div>20°C</div>
              </div>
              <div id="weatherCard__tempFeelsLike" class="weatherCard__left">
                <div>Feels Like</div>
                <div>20°C</div>
              </div>
              <div id="weatherCard__tempMax" class="weatherCard__left">
                <div>Max</div>

                <div>20°C</div>
              </div>
            </div>
          </section>

          <section class="minicard" id="weatherCard__wind">
            <header><i class="fas fa-wind"></i> Wind</header>
            <div class="hero secondary">
              <div id="weatherCard__windSpeed" class="weatherCard__left">
                <div>Speed</div>
                <div>20°C</div>
              </div>
              <div id="weatherCard__windDeg" class="weatherCard__left">
                <div>Direction</div>
                <div>20°C</div>
              </div>
              <div id="weatherCard__windGust" class="weatherCard__left">
                <div>Gust</div>

                <div>20°C</div>
              </div>
            </div>
          </section>

          <section id="weatherCard__pressure" class="minicard">
            <header> <i class="fas fa-tachometer-alt"></i> Pressure</header>
            <div class="hero secondary">
              <div id="weatherCard__pressure" class="weatherCard__left">
                <div>20°C</div>
              </div>

            </div>
          </section>
          <section id="weatherCard__humidity" class="minicard">
            <header><i class="fas fa-tint"></i> Humidity</header>
            <div class="hero secondary">

              <div id="weatherCard__humidity" class="weatherCard__left">
                <div>20°C</div>
              </div>
            </div>
          </section>
        </section>
      </section>
    </div>
  </body>
</html>
